<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}

    <!-- Tipos de letras-->
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat:700|Source+Sans+Pro:700|Roboto+Slab" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <!--Hojas de Estilo del proyecto-->      
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/registro.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/recuperacion.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/partidos.css' %}"/>
    {% block styles %}
    {% endblock %}

    <script src="{% static 'js/emergente.js' %}"></script>
   
    <!-- Latest compiled and minified CSS Libreria Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} BETTING  SYSTEM {% endblock %}</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <div class="container skrollable skrollable-after">
        <div class="titulo">
            <a href="{% url 'Home' %}">BETTING SYSTEM</a>
        </div>
        <div id="tres-barras" class="container">
            <a class="navbar-toggle" data-toggle="collapse" data-target="#navbarTogglerDemo02"
               aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle Navigation">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="navbar-principal menu-contraido">
            <div class="navbar-collapse collapse in" id="navbarTogglerDemo02">
                <ul class="menu nav navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- Validación -->
                    {% if not request.user.is_authenticated %}
                        <li class="active nav-item">
                            <a href="{% url 'Home' %}">
                                <i class='fa fa-home'></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">
                                <i class="fa fa-user-circle"></i>
                                Registrarse
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}">
                                <i class='fas fa-sign-out-alt'></i>
                                Acceder
                            </a>
                        </li>
                    {% elif request.user.is_staff %}
                        <div class="navbar-principal">
                            <ul class="menu">
                                <li>
                                    <i class="fa fa-dollar"></i>
                                    {{ usuario.aumentosaldo }}
                                </li>
                            </ul>
                        </div>
                        <li class="active nav-item">
                            <a href="{% url 'Home' %}">
                                <i class='fa fa-home'></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'listado' %}">
                                <i class='fas fa-sign-out-alt'></i>
                                Usuarios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <i class='fas fa-sign-out-alt'></i>
                                Salir
                            </a>
                        </li>
                    {% else %}
                        <div class="navbar-principal">
                            <ul class="menu">
                                <li>
                                    <i class="fa fa-dollar"></i>
                                    {{ usuario.aumentosaldo }}
                                </li>
                            </ul>
                        </div>
                        <li class="active nav-item">
                            <a href="{% url 'Home' %}">
                                <i class='fa fa-home'></i>
                                Home
                            </a>
                        </li>
                        <li class="active nav-item lista">
                            <a class="listado-ligas">
                                <i class='fas fa-chart-line'></i>
                                Apostar
                                {% block menu %}
                                <ul class="desplegable">
                                    <li>
                                        <a href="partidos/ProgramadosEspaña">Liga Española</a>
                                    </li>
                                    <li>
                                        <a href="partidos/ProgramadosInglaterra">Liga Inglesa</a>
                                    </li>
                                    <li>
                                        <a href="partidos/ProgramadosItalia">Liga Italiana</a>
                                    </li>
                                    <li>
                                        <a href="partidos/ProgramadosAlemania">Liga Alemana</a>
                                    </li>
                                    <li>
                                        <a href="partidos/JugadosTodasLigas">Ultimos Marcadores</a>
                                    </li>
                                </ul>
                                {% endblock %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}">
                                <i class='fas fa-user-cog'></i>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <i class='fas fa-sign-out-alt'></i>
                                Salir
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
{% if 'register' in request.GET %}
    <p style="color: #00a82d;"> Usuario registrado correctamente</p>
{% endif %}
<div     class="contenido">
    {% block content %}


    {% endblock %}
</div>
</body>
<footer>
    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://prinzhorn.github.io/skrollr/dist/skrollr.min.js"></script>


    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% block scripts %}


    {% endblock %}

    <!-- Inicio del pie de pagina-->        
    <div class="container">
        <div class="derechos">
            <p>Todos los derechos reservados para BETTING SYSTEM, Colombia.</p>
        </div>
        <div class="pasarse">
            <img class="imgFooter col-lg-1 col-sm-2 col-2 imagenesPie" src="../media/colJuegos.png" alt="Juege legal">
            <img class="imgFooter col-lg-1 col-sm-2 col-2 imagenesPie" src="../media/mayores18+.png" alt="Solo para mayores de edad">
            <img class="imgFooter col-lg-1 col-sm-2 col-2 imagenesPie" src="../media/colJuegos2.png" alt="Autoriza Coljuegos">
        </div>
    </div>
</footer>
</html>